a {
	color: rgb(17, 17, 17);
	text-decoration: none;
}
body {
	background: #4A154B;
	font-family: 'Noto Sans JP', sans-serif;
	color:darkgoldenrod;
  max-width: 600px;
  padding-top: 3px;
  padding-left: 13px;
}
button:hover,
a:hover {
    transition:  all 500ms ease-in-out;
}
a {
     font-size: 1rem;
     line-height: 2;
     text-decoration: none;
     text-rendering: optimizeLegibility;
	 color: #2DB67C;
 }
 button {
     font-size: 1.2rem;
	 background-color: #FFE168;
	 border: 1px solid silver;
	 border-radius: 3px;
 }
footer {
	font-size: 1rem;
	text-align: center;
}
.city {
	padding-top: 14px;
	max-width: fit-content;
}
.current-temp-max-min-wrapper {

	font-size: 1.2em;
}
.description {
	text-transform: uppercase;
}
.forecast {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}
.forecast-temperature {
	font-size: 14px;
}
.icon {
	position: relative;
	left: 40px;
}
.last-updated-wrapper {
	margin: 34px;
}
.search-input, .btn {
	font-size: 1rem!important;
	margin: 5px;
}
.last-updated-wrapper {
	font-weight: 400;
	line-height: 2;
	text-align: left;
}
.temperature {
	font-size: 3rem;
}
.temp-max {
	font-weight: 600;
}
ul {
	list-style: none;
	padding-left: 0;
}

.units .active {
	color: #4A154B;
	font-weight: 600;
}
.units :hover {
	color: #DF1E5A;
	cursor: pointer;
}
.weather {
	align-content: center;
	background: rgb(236, 235, 221);
	border: 1px solid silver;
	border-radius: 16px;
	box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
	color: rgb(17, 17, 17);
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto;
	width: 685px;
	padding: 35px;
}

.current-weather-background {
	max-width: 165px;
}

.current-weather-background, .left-col, button {
	margin: 3px;
	border-radius: 5px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2dfed+0,c8d7eb+26,bed0ea+51,a6c0e3+51,afc7e8+62,bad0ef+75,99b5db+88,799bc8+100;Grey+Blue+Gloss+%231 */
	background: #d2dfed; /* Old browsers */
	background: -moz-linear-gradient(
		top,
		#d2dfed 0%,
		#c8d7eb 26%,
		#bed0ea 51%,
		#a6c0e3 51%,
		#afc7e8 62%,
		#bad0ef 75%,
		#99b5db 88%,
		#799bc8 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		top,
		#d2dfed 0%,
		#c8d7eb 26%,
		#bed0ea 51%,
		#a6c0e3 51%,
		#afc7e8 62%,
		#bad0ef 75%,
		#99b5db 88%,
		#799bc8 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to bottom,
		#d2dfed 0%,
		#c8d7eb 26%,
		#bed0ea 51%,
		#a6c0e3 51%,
		#afc7e8 62%,
		#bad0ef 75%,
		#99b5db 88%,
		#799bc8 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */
}