a {
	color: #2DB67C;
	text-decoration: none;
}
body {
	background: #4A154B;
	font-family: 'Noto Sans JP', sans-serif;
	color: #2DB67C;
  max-width: 600px;
  padding-top: 3px;
  padding-left: 13px;
}
button:hover,
a:hover {
    transition:  all 500ms ease-in-out;
}
a {
     font-size: 1rem;
     line-height: 2;
     text-decoration: none;
     text-rendering: optimizeLegibility;
	 color: #2DB67C;
 }
 button {
     font-size: 1.2rem;
	 border: 1px solid silver;
	 border-radius: 3px;
	 color: #000!important;
 }
footer {
	font-size: 1rem;
	text-align: center;
}
.city {
	padding-top: 14px;
	max-width: fit-content;
}
.current-temp-max-min-wrapper {
	font-size: 1.2em;
}
.description {
	text-transform: uppercase;
}
.forecast {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}
.forecast-temperature {
	font-size: 14px;
}
.icon {
	position: relative;
	left: 40px;
}
.last-updated-wrapper {
	margin: 34px;
	line-height: 2;
	text-align: left;
}
.loading {
	padding: 50px;
}
.search-input, .btn {
	margin: 5px;
}
.temperature {
	font-size: 3rem;
}
ul {
	list-style: none;
	padding-left: 0;
}
.units .active {
	font-weight: 600;
}
.weather {
	align-content: center;
	background: rgb(236, 235, 221);
	border: 1px solid silver;
	border-radius: 16px;
	box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
	color: rgb(17, 17, 17);
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto;
	width: 685px;
	padding: 35px;
}
.right-col, .left-col, button {
	margin: 3px;
	border-radius: 5px;
}
.right-col {
	max-width: 165px;
}