.city {
	font-size: 3.5rem;
	padding-top: 14px;
text-align: center;
	font-family: 'Caveat', cursive;
}
.description {
	text-transform: uppercase;
	text-align: left;
}
.forecast {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}
.forecast-temperature {
	font-size: 14px;
}
.loading {
	padding: 50px;
}
.temperature {
	font-size: 3.2rem;
}
.right-col, .left-col {
	padding: 5px;
}
.right-col {
	font-size: 1.1rem;
}
